<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.dao.StudentDao">
    <insert id="insertStudentList" parameterType="com.batch.model.StudentDto">
        insert into student (name,age)
        values
        <foreach collection="list" item="studentItem" separator=",">
            (#{studentItem.name},#{studentItem.age})
        </foreach>
    </insert>

    <insert id="insertStudent" parameterType="com.batch.model.StudentDto">
        insert into student (name,age) values (#{dto.name},#{dto.age})
    </insert>
</mapper>